---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Anwar Sadhik">
  <main class="md:mx-auto md:py-4 container dark:text-white overflow-hidden">
    <section
      class="flex flex-row flex-wrap items-center lg:items-start lg:flex-row lg:flex-nowrap gap-2"
    >
    <span class="cursor-pointer" title="Hey it's me - A full Snack Developer">
      <img
      src="/me.png"
      alt="me"
      class="h-24 w-24 md:h-40 md:w-40 rounded-full object-cover mt-4"
      />
    </span>
      <section
        class="flex flex-col items-center md:items-start lg:items-start md:py-4 p-3"
      >
        <h1 class="font-bold text-2xl md:text-3xl py-1 md:ml-4">
          Hi there, I'm <span class="text-amber-700 text-4xl font-extrabold dark:text-amber-400"
            >Anwar Sadhik 👋🏼</span
          >
        </h1>

        <p class="flex flex-col space-y-0.5  md:ml-4">
            Welcome to my Personal slice of the internet,
          <span class="flex flex-col md:flex-row md:items-center text-base">

            <p class="flex items-center justify-start flex-row md:ml-4 flex-wrap">

                i'm a Full stack Developer who loves to write
                <strong class="pl-2 underline decoration-wavy decoration-red-600"
                >TypeScript</strong
                >
                <img
                width="30"
                height="30"
                src="https://img.icons8.com/fluency/48/typescript--v2.png"
                alt="typescript"
                class="ml-2"
                />
                and <strong class="pl-2 whitespace-nowrap">React</strong>
                <img
                width="30"
                height="30"
                src="https://img.icons8.com/color/48/react-native.png"
                alt="react"
                class="ml-2"
                />
                <!-- <i class="fa-brands fa-react  text-blue-300 "></i> -->
              </p>
          </span>

          <span class="md:ml-4  mr-auto">i like two things Cats and Computers.</span>
          <span class="flex items-center gap-x-4 py-2 md:ml-4">
            <a href="https://github.com/AnwarSadhik">
              <i class="fa-brands fa-github fa-xl cursor-pointer hover:-translate-y-1"></i>
            </a>
            <a
              href="https://twitter.com/anwarexe?t=wHBNB7qWfWIFOeqaJrAu6Q&s=09"
            >
              <img
                width="30"
                height="30"
                src="https://img.icons8.com/color/48/twitter--v1.png"
                alt="twitter--v1"
                class="hover:-translate-y-1"
              />
            </a>
            <a href="https://www.linkedin.com/in/anwar-sadhik-793655258/">
              <img
                width="30"
                height="30"
                src="https://img.icons8.com/fluency/48/linkedin.png"
                alt="linkedin"
                class="hover:-translate-y-1"
              />
            </a>
          </span>
          <span class="md:py-8 py-4 md:ml-4">
            <button class="bg-amber-100 text-black py-2 px-4 font-bold dark:bg-amber-100">
              <a href="https://resume.io/r/kN4i0gZhR" target="_blank">
                View CV
              </a>
            </button>
          </span>
        </p>
      </section>
        </button>
    </section>

    <section>
      <h2 class="text-2xl md:text-3xl font-extrabold px-2 md:px-0">Who am I?</h2>
      <div class="w-full border-b mt-2 border-[1px] border-slate-300"></div>
      <section class="flex pt-4 flex-wrap gap-x-16 p-3">
        <div class="md:max-w-4xl max-w-full">
          <div class="flex flex-col space-y-4 w-full">
            <p class="w-full text-base">
              A website artisan from design to deployment, experienced in
              developing full stack applications embracing latest techniques for
              seamless digital solutions. Proficient in the MERN stack.
            </p>

            <p class="w-full text-base">
              I have <strong>6 months of experience</strong> in Software
              development focused mainly on large scale web applications with
              good knowledge in
              <span class="font-extrabold">
                React
                <img
                  width="28"
                  height="28"
                  src="https://img.icons8.com/color/48/react-native.png"
                  alt="react"
                  class="inline-flex"
                />
              </span> and
              <span class="font-extrabold">
                NodeJS
                <img
                  width="28"
                  height="28"
                  src="https://img.icons8.com/fluency/48/node-js.png"
                  alt="node-js"
                  class="inline-flex"
                />
              </span>
            </p>

            <p class="w-full text-base">
              I'm Currently learning and using
              <span class="font-extrabold">
                Astro
                <img
                  src="https://raw.githubusercontent.com/github/explore/5cc0a03a302ec862c4aeac2a22a513ae31c35432/topics/astro/astro.png"
                  alt="Astro"
                  class="w-[30px] h-[30px] inline-flex"
                />
              </span>
               for my side projects and
              <span class="font-extrabold">
                Next.js
                <img
                  src="https://static-00.iconduck.com/assets.00/next-js-icon-2048x2048-5dqjgeku.png"
                  alt="Next.js"
                  class="inline-flex w-[30px] h-[30px]"
                />
              </span>
               to ship full stack apps for the goodness of Serverless
              architecture!
            </p>
          </div>
        </div>

        <div class="mt-4 md:mt-0">
          <h1 class="font-extrabold text-2xl text-amber-800 mb-2 dark:text-amber-400">
            <span>
              <img
                width="33"
                height="33"
                src="https://img.icons8.com/emoji/48/bullseye.png"
                alt="bullseye"
                class="inline-flex items-center"
              />
               Skills
            </span>
          </h1>
          <ul
            class="grid border-l border-t border-b border-slate-300 md:py-4 space-x-4 md:space-x-8 md:space-y-2 grid-cols-2 gap-0.5 text-slate-800 list-disc dark:border-amber-400 md:mx-1 p-4 md:px-0 w-[90vw] md:w-auto mx-auto"
          >
            <li
              class="flex flex-col gap-0.5 md:gap-1.5 md:flex-row md:items-center md:mx-8 mx-4"
            >
              <p class="text-slate-800 w-32 md:w-24 dark:text-white">Typescript</p>
              <div class="border-2 flex md:w-[80px] h-3 border-slate-800 dark:border-amber-400">
                <div
                  class="h-full skill-level bg-amber-700 dark:bg-amber-200"
                  data-skill-level="75"
                >
                </div>
              </div>
            </li>

            <li
              class="flex flex-col gap-0.5 md:gap-1.5 md:flex-row md:items-center"
            >
              <p class="text-slate-800 w-32 md:w-24 dark:text-white">Tailwind</p>
              <div class="border-2 flex md:w-[80px] h-3 border-slate-800 dark:border-amber-400">
                <div
                  class="h-full skill-level bg-amber-700 dark:bg-amber-200"
                  data-skill-level="80"
                >
                </div>
              </div>
            </li>

            <li
              class="flex flex-col gap-0.5 md:gap-1.5 md:flex-row md:items-center"
            >
              <p class="text-slate-800 w-32 md:w-24 dark:text-white">Trpc</p>
              <div class="border-2 flex md:w-[80px] h-3 border-slate-800 dark:border-amber-400">
                <div
                  class="h-full skill-level bg-amber-700 dark:bg-amber-200"
                  data-skill-level="50"
                >
                </div>
              </div>
            </li>
            <li
              class="flex flex-col gap-0.5 md:gap-1.5 md:flex-row md:items-center"
            >
              <p class="text-slate-800 w-32 md:w-24 dark:text-white">NodeJS</p>
              <div class="border-2 flex md:w-[80px] h-3 border-slate-800 dark:border-amber-400">
                <div
                  class="h-full skill-level bg-amber-700 dark:bg-amber-200"
                  data-skill-level="70"
                >
                </div>
              </div>
            </li>
            <li
              class="flex flex-col gap-0.5 md:gap-1.5 md:flex-row md:items-center"
            >
              <p class="text-slate-800 w-32 md:w-24 dark:text-white">React</p>
              <div class="border-2 flex md:w-[80px] h-3 border-slate-800 dark:border-amber-400">
                <div
                  class="h-full skill-level bg-amber-700 dark:bg-amber-200"
                  data-skill-level="75"
                >
                </div>
              </div>
            </li>
            <li
              class="flex flex-col gap-0.5 md:gap-1.5 md:flex-row md:items-center"
            >
              <p class="text-slate-800 w-32 md:w-24 dark:text-white">postgreSQL</p>
              <div class="border-2 flex md:w-[80px] h-3 border-slate-800 dark:border-amber-400">
                <div
                  class="h-full skill-level bg-amber-700 dark:bg-amber-200"
                  data-skill-level="45"
                >
                </div>
              </div>
            </li>
            <li
              class="flex flex-col gap-0.5 md:gap-1.5 md:flex-row md:items-center"
            >
              <p class="text-slate-800 w-32 md:w-24 dark:text-white">MongoDB</p>
              <div class="border-2 flex md:w-[80px] h-3 border-slate-800 dark:border-amber-400">
                <div
                  class="h-full skill-level bg-amber-700 dark:bg-amber-200"
                  data-skill-level="70"
                >
                </div>
              </div>
            </li>
            <li
              class="flex flex-col gap-0.5 md:gap-1.5 md:flex-row md:items-center"
            >
              <p class="text-slate-800 w-32 md:w-24 dark:text-white">Firebase</p>
              <div class="border-2 flex md:w-[80px] h-3 border-slate-800 dark:border-amber-400">
                <div
                  class="h-full skill-level bg-amber-700 dark:bg-amber-200"
                  data-skill-level="50"
                >
                </div>
              </div>
            </li>
            <li
              class="flex flex-col gap-0.5 md:gap-1.5 md:flex-row md:items-center"
            >
              <p class="text-slate-800 w-32 md:w-24 dark:text-white">NextJS</p>
              <div class="border-2 flex md:w-[80px] h-3 border-slate-800 dark:border-amber-400">
                <div
                  class="h-full skill-level bg-amber-700 dark:bg-amber-200"
                  data-skill-level="70"
                >
                </div>
              </div>
            </li>
            <li
              class="flex flex-col gap-0.5 md:gap-1.5 md:flex-row md:items-center"
            >
              <p class="text-slate-800 w-32 md:w-24 dark:text-white">ORM's</p>
              <div class="border-2 flex md:w-[80px] h-3 border-slate-800 dark:border-amber-400">
                <div
                  class="h-full skill-level bg-amber-700 dark:bg-amber-200"
                  data-skill-level="70"
                >
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </section>

    <section>
      <h2 class="font-extrabold text-2xl mx-2 md:mx-0 md:text-3xl">Some Things I've Done.</h2>
      <div class="border border-slate-400 mt-2"></div>

      <div
        class="flex rounded-md md:items-center border border-amber-500 mt-4 flex-col gap-8 md:flex-row items-center hover:-translate-y-1 transition-all p-8 md:p-0 mb-5 md:mb-0 w-[95vw] md:w-full mx-auto"
      >
        <div class="flex flex-col md:flex-row gap-x-8 items-center justify-start p-2">
          <img
            src="/projects/quizzmefy.png"
            alt="quizzmefy"
            class="md:w-1/3 md:h-full object-contain cursor-pointer mb-8 md:mb-0 w-11/12"
          />
          <div class="flex flex-col justify-start items-start space-y-4">
            <h3 class="font-bold text-2xl mx-auto md:mx-0">
              Quizzmefy
              <a href="https://quizzmefy.vercel.app" target="_blank">
                <!-- <img
                  width="25"
                  height="25"
                  src="https://img.icons8.com/fluency-systems-filled/48/external-link.png"
                  alt="external-link"
                  class="inline-flex items-center cursor-pointer"
                /> -->
                <i class="fa-solid fa-up-right-from-square fa-xs md:fa-sm"></i>

              </a>
            </h3>
            <h2 class="md:max-w-2xl max-w-md mx-auto text-sm md:text-base md:mx-0">
              A Full stack Next 13 app built with tailwind + shadcn UI taking
              the latest and Greatest approaches.
            </h2>
            <p>stack:</p>
            <div class="flex gap-x-4 items-center pb-4 md:pb-0">
              <p
                class="border-2 text-black py-1 px-2 text-xs md:text-sm border-amber-200 rounded-md dark:bg-amber-100"
              >
                NextJS
              </p>
              <p
                class="border-2 text-black py-1 px-2 text-xs md:text-sm border-amber-200 rounded-md dark:bg-amber-100"
              >
                Prisma
              </p>
              <p
                class="border-2 text-black py-1 px-2 text-xs md:text-sm border-amber-200 rounded-md dark:bg-amber-100"
              >
                NextAuth
              </p>
              <p
                class="whitespace-nowrap border-2 text-black py-1 px-2 text-xs md:text-sm border-amber-200 rounded-md dark:bg-amber-100"
              >
                rtk-query
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
      class="flex rounded-md md:items-center border border-amber-500 mt-4 flex-col gap-8 md:flex-row items-center hover:-translate-y-1 transition-all p-8 md:p-0 mb-5 md:mb-0 w-[95vw] md:w-full mx-auto"
      >
        <div class="flex flex-col md:flex-row gap-x-8 items-center justify-start">
          <img
            src="/projects/mediaTracker.png"
            alt="media-tracker"
            class="md:w-1/3 md:h-full object-contain cursor-pointer w-11/12 mb-8 md:mb-0"
          />
          <div class="flex flex-col justify-start items-start space-y-4">
            <h3 class="font-bold text-2xl mx-auto md:mx-0">
              Media Tracker
              <a href="https://mediatracker-app.onrender.com/" target="_blank">
                <!-- <img
                  width="25"
                  height="25"
                  src="https://img.icons8.com/fluency-systems-filled/48/external-link.png"
                  alt="external-link"
                  class="inline-flex items-center cursor-pointer"
                /> -->
                <i class="fa-solid fa-up-right-from-square fa-xs md:fa-sm"></i>
              </a>
            </h3>
            <h2 class="md:max-w-2xl max-w-md mx-auto text-sm md:text-base md:mx-0">
              My first Full stack Project in MERN having user Management and
              neubrutalism design
            </h2>
            <p>stack:</p>
            <div class="flex gap-x-4 items-center pb-4 md:pb-0">
              <p
                class="border-2 text-black py-1 px-2 text-xs md:text-sm border-amber-200 rounded-md dark:bg-amber-100"
              >
                MongoDB
              </p>
              <p
                class="border-2 text-black py-1 px-2 text-xs md:text-sm border-amber-200 rounded-md dark:bg-amber-100"
              >
                expressJs
              </p>
              <p
                class="border-2 text-black py-1 px-2 text-xs md:text-sm border-amber-200 rounded-md dark:bg-amber-100"
              >
                ReactJs
              </p>
              <p
                class="border-2 text-black py-1 px-2 text-xs md:text-sm border-amber-200 rounded-md dark:bg-amber-100"
              >
                NodeJs
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex rounded-md md:items-center border border-amber-500 mt-4 flex-col gap-8 md:flex-row items-center hover:-translate-y-1 transition-all p-4 md:p-0 mb-5 md:mb-0 w-[95vw] md:w-full mx-auto"
      >
        <div class="flex flex-col md:flex-row gap-x-8 items-center justify-start">
          <img
            src="/projects/todo.png"
            alt="todo-app"
            class="md:w-1/3 md:h-full object-contain cursor-pointer mb-8 md:mb-0 w-11/12"
          />
          <div class="flex flex-col justify-start items-start space-y-4">
            <h3 class="font-bold text-2xl mx-auto md:mx-0">
              ToDo App
              <a href="https://anwars-todoapp.netlify.app/" target="_blank">
                <!-- <img
                  width="25"
                  height="25"
                  src="https://img.icons8.com/fluency-systems-filled/48/external-link.png"
                  alt="external-link"
                  class="inline-flex items-center cursor-pointer"
                /> -->
                <i class="fa-solid fa-up-right-from-square fa-xs md:fa-sm"></i>
              </a>
            </h3>
            <h2 class="md:max-w-2xl max-w-md mx-auto text-sm md:text-base md:mx-0">
              Are you even a real Developer if you dont have a ToDo project
              coded. A PWA with 100% lighthouse performance Minimal and works
              offline.
            </h2>
            <p>stack:</p>
            <div class="flex gap-x-4 items-center pb-4 md:pb-0">
              <p
                class="border-2 text-black py-1 px-2 text-xs md:text-sm border-amber-200 rounded-md dark:bg-amber-100"
              >
                ReactJs
              </p>
              <p
                class="border-2 text-black py-1 px-2 text-xs md:text-sm border-amber-200 rounded-md dark:bg-amber-100"
              >
                PWA
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mt-4 mb-10 mx-8 md:mx-0">
      <h2 class="text-2xl mx-2 md:mt-0 md:text-3xl font-bold">What I'm doing/did</h2>
      <div class="border-b border-slate-300 mt-2"></div>
      <ul class="mt-4">
        <li class="list-disc">
          <div class="flex flex-col md:flex-row md:items-center gap-x-4">
            <h2 class="text-2xl md:text-3xl font-bold text-amber-700 dark:text-blue-400 whitespace-nowrap">
              🕵️ Full Stack Associate
            </h2>
            <a href="https://qurinomsolutions.com/" target="_blank">
              <p class= "text-violet-700 cursor-pointer text-sm md:text-base whitespace-nowrap mr-4 md:mr-0">
                Qurinom solutions
              </p>
            </a>
          </div>
          <div class="flex items-center space-x-2 text- text-gray-700 dark:text-gray-400 text-sm">
            <p>Internship</p>.
            <p>Feb 2023 to Aug 2023</p>.
            <p>6mos</p>
          </div>
          <div class="text-md md:text-lg">
            <p>Team lead for 2 projects</p>
            <p>
              Engineered three full stack web applications: catering to
              e-commerce, social media, management purposes.
            </p>
            <p>solved bugs in the existing code base</p>
            <p>familiarized on cloud and DevOps technologies</p>
          </div>
        </li>

        <li class="mt-8 list-disc">
          <div class="flex flex-col md:flex-row md:items-center gap-x-4">
            <h2 class="text-2xl md:text-3xl font-bold text-amber-700 dark:dark:text-blue-400 max-w-md md:max-w-none">
              🕵️ B.Tech in Computer Science
            </h2>
            <a>
              <p class="text-violet-700 cursor-pointer text-sm md:text-base max-w-md md:max-w-none mr-5 md:mr-0">
                kallam haranadhareddy institute of technology
              </p>
            </a>
          </div>
          <div class="flex items-center space-x-2 text-xs text-gray-700 dark:text-gray-400">
            <p>Full time</p>.
            <p>2019 to May 2023</p>.
            <p>4yrs</p>
          </div>
        </li>
      </ul>
    </section>

    <p class="text-center font-bold text-sm md:text-base">
      Kudos to <span class="text-amber-600 dark:text-amber-400">learning</span> & <span
        class="text-amber-600 dark:text-amber-400">Growing</span
      >
      <img
        width="23"
        height="23"
        src="https://img.icons8.com/external-vectorslab-flat-vectorslab/53/external-rocket-project-management-and-web-marketing-vectorslab-flat-vectorslab.png"
        alt="external-rocket-project-management-and-web-marketing-vectorslab-flat-vectorslab"
        class="inline-flex ml-4"
      />
    </p>
  </main>
</MainLayout>

<style>
  .skill-level {
    width: 0;
    transition: width 1s linear;
  }
</style>
<script>
  const skillElements = document.querySelectorAll(".skill-level");

  skillElements.forEach((element) => {
    const skillLevel = parseFloat(element.getAttribute("data-skill-level"));
    
    if (element instanceof HTMLElement) {
      element.style.width = skillLevel + "%";
    }
  });
</script>
